.main {
    background-color: #F6F6F9;
    height: calc(100vh - 89px);
    margin-left:12vw;
    display:flex;
    align-items: center;
    .container {
        height: 80%;
        .card{
            height:80%;
            max-width: 80%;
            margin: 0 auto;
            .card-header {
                background-color: white;
                color: #18BC9C;
                font-weight: 500;
                font-size: 1.4rem;
                .formReturnBtn {
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    h3 {
                        margin:0;
                    }
                    button {
                        background: none;
                        border: none;
                        position: absolute;
                        left: 2%;
                    }
                }
            }
            .card-body {
                height: 50%;
                position: relative;
                margin: 0 auto;
                width: 75%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                .formAnswer {
                    /* TESTS */
                        position: relative;
                        margin: 0 auto;
                        width: 75%;
                        display: flex;
                        justify-content: space-between;
                    /* FIN TESTS */
                    .text {
                        width: 40%;
                        border: 0;
                        border-bottom: 2px solid #18BC9C;
                        outline: 0;
                        font-size: 1.3rem;
                        color: grey;
                        padding: 7px 0;
                        transition: border-color 0.2s;
                    }
                    .text:focus {
                        padding-bottom: 6px;  
                        border-width: 3px;
                        border-image: linear-gradient(to right, #18BC9D, #18ABBB);
                        border-image-slice: 1;
                    }
                    .button {
                        background-color: #D1F2EB;
                        border: 1px solid #F6F6F9;
                        border-radius: 500px;
                        width: 144px;
                        height: 72px;
                        color: #1ABEAD;
                        font-weight: 600;
                    }
                    .button:focus {
                        background-color: #18BC9C;
                        border: 1px solid #F6F6F9;
                        color: #D1F2EB;
                    }
                    h2 {
                        color: #18BC9C;
                    }
                }
                    button {
                        background-color: #18BC9C;
                        border: 1px solid #199AA6;
                        border-radius: 500px;
                        width: 144px;
                        height: 72px;
                    }
                    button:hover {
                        background-color: darken($color: #18BC9C, $amount: 10);
                    }
            }
        }
    }
}


@media only screen and (max-width:992px) {
    .main {
        margin-left: 10vw;
    }
}

@media only screen and (max-width:768px) {
    h3 {
        font-size: 1.5rem!important;
    }
    button {
        svg {
            height: 1.2em!important;
        }
    }
}