.main {
  background-color: #F6F6F9;
  height: calc(100vh - 89px);
  margin-left: 12vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .container {
  height: 80%;
}

.main .container .card {
  height: 80%;
  max-width: 80%;
  margin: 0 auto;
}

.main .container .card .card-header {
  background-color: white;
  color: #18BC9C;
  font-weight: 500;
  font-size: 1.4rem;
}

.main .container .card .card-header .formReturnBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .container .card .card-header .formReturnBtn h3 {
  margin: 0;
}

.main .container .card .card-header .formReturnBtn button {
  background: none;
  border: none;
  position: absolute;
  left: 2%;
}

.main .container .card .card-body {
  height: 50%;
  position: relative;
  margin: 0 auto;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main .container .card .card-body .formAnswer {
  /* TESTS */
  position: relative;
  margin: 0 auto;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* FIN TESTS */
}

.main .container .card .card-body .formAnswer .text {
  width: 40%;
  border: 0;
  border-bottom: 2px solid #18BC9C;
  outline: 0;
  font-size: 1.3rem;
  color: grey;
  padding: 7px 0;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
}

.main .container .card .card-body .formAnswer .text:focus {
  padding-bottom: 6px;
  border-width: 3px;
  -o-border-image: linear-gradient(to right, #18BC9D, #18ABBB);
     border-image: -webkit-gradient(linear, left top, right top, from(#18BC9D), to(#18ABBB));
     border-image: linear-gradient(to right, #18BC9D, #18ABBB);
  border-image-slice: 1;
}

.main .container .card .card-body .formAnswer .button {
  background-color: #D1F2EB;
  border: 1px solid #F6F6F9;
  border-radius: 500px;
  width: 144px;
  height: 72px;
  color: #1ABEAD;
  font-weight: 600;
}

.main .container .card .card-body .formAnswer .button:focus {
  background-color: #18BC9C;
  border: 1px solid #F6F6F9;
  color: #D1F2EB;
}

.main .container .card .card-body .formAnswer h2 {
  color: #18BC9C;
}

.main .container .card .card-body button {
  background-color: #18BC9C;
  border: 1px solid #199AA6;
  border-radius: 500px;
  width: 144px;
  height: 72px;
}

.main .container .card .card-body button:hover {
  background-color: #128f76;
}

@media only screen and (max-width: 992px) {
  .main {
    margin-left: 10vw;
  }
}

@media only screen and (max-width: 768px) {
  h3 {
    font-size: 1.5rem !important;
  }
  button svg {
    height: 1.2em !important;
  }
}
/*# sourceMappingURL=Main.css.map */